@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;500;600;700&family=Poppins:wght@400;500;600&family=Raleway:wght@900&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

html, body{
    display: grid;
    height: 100%;
    place-items: center;
    background: #000;
}

.wrapper{
    height: 100px;
    width: 440px;
    cursor: default;
    background: linear-gradient(135deg, #14ffe9, #ffeb3b, #ff00e0);
    border-radius: 10px;
    animation: animate 1.5s linear infinite;
}


.wrapper .display,
.wrapper span{
    position: absolute;
    /* opacity: 0; */
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.wrapper .display{

    z-index: 999;
    background: #1b1b1b;
    height: 85px;
    width: 425px;
    border-radius: 6px;
    text-align: center;
}

.wrapper .display #time{
    line-height: 85px;
    font-size: 50px;
    font-weight: 600;
    letter-spacing: 1px;
    background: linear-gradient(135deg, #14ffe9, #ffeb3b, #ff00e0); 
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

@keyframes animate {
    100%{
        filter: hue-rotate(360deg);
    }
}

.wrapper span{
    height: 100%;
    width: 100%;
    background: inherit;
    border-radius: 10px;
}

.wrapper span:first-child{
    filter: blur(10px);
}

.wrapper span:last-child{
    filter: blur(20px);
}
